# Regression Project

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
WORK_DIR = os.getcwd()

## Now we load Dataset

In [3]:
data = pd.read_csv(WORK_DIR + '\\data\\House Demolitions in Palestine.csv')

In [4]:
data.head()

,Year,Housing Units,People Left Homeless,Minors Left Homeless,Area,Type of Structure,Demolish Scope,District,Demolition Reason,Demolition carried out by
0,2021.0,8,31,14,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Al-Quds,Demolition on the pretext of unlawful construc...,NaN
1,2021.0,3,5,1,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Bethlehem,Demolition on the pretext of unlawful construc...,NaN
2,2021.0,7,18,12,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Hebron,Demolition on the pretext of unlawful construc...,NaN
3,2021.0,1,0,0,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Jenin,Demolition on the pretext of unlawful construc...,NaN
4,2021.0,16,78,33,The West Bank (Excluding East Jerusalem),Residential Structure,NaN,Jericho,Demolition on the pretext of unlawful construc...,NaN

## Let's Explore the Dataset

In [5]:
data.dtypes

Year                         float64
Housing Units                 object
People Left Homeless          object
Minors Left Homeless          object
Area                          object
Type of Structure             object
Demolish Scope                object
District                      object
Demolition Reason             object
Demolition carried out by     object
dtype: object

In [6]:
set(data['Year']) #To see the Years

{nan,
 nan,
 nan,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2020.0,
 2021.0}

In [7]:
set(data['Area']) #To see the Unique Areas

{'East Jerusalem',
 'Gaza Strip',
 'The West Bank (Excluding East Jerusalem)',
 nan}

In [8]:
set(data['Type of Structure']) #To see the types of Structure

{'Non Residential Structure', 'Residential Structure', nan}

In [9]:
def remove_comma(str):
    try:
        temp = ''
        for char in str:
            if char == ',':
                pass
            else:
                temp + char
        return temp
    except:
        return str

In [16]:
data.isnull().values.sum()

417

In [10]:
data['Housing Units'] = [remove_comma(i) for i in data['Housing Units']]

TypeError: 'float' object is not iterable

In [11]:
data['People Left Homeless'] = [remove_comma(i) for i in data['People Left Homeless']]

TypeError: 'float' object is not iterable

In [12]:
data['Minors Left Homeless'] = [remove_comma(i) for i in data['Minors Left Homeless']]

TypeError: 'float' object is not iterable

In [13]:
data['Housing Units'] = [float(i) for i in data['Housing Units']] #Convert String to float

ValueError: could not convert string to float: '5,498'

In [ ]:
data['People Left Homeless'] = [float(i) for i in data['People Left Homeless']] #Convert String to float

In [ ]:
data['Minors Left Homeless'] = [float(i) for i in data['Minors Left Homeless']] #Convert String to float

In [ ]:
sns.heatmap(data[['Year','Housing Units','People Left Homeless','Minors Left Homeless']])