In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import os 
import seaborn as sns

Data Source = https://www.kaggle.com/datasets/anmolkumar/house-price-prediction-challenge

In [4]:
WORK_DIR = os.getcwd()

In [7]:
DATA_DIR = WORK_DIR + '/data'

In [9]:
data = pd.read_csv(DATA_DIR + '/train.csv')

In [10]:
data_ = pd.read_csv(DATA_DIR + '/test.csv')

In [12]:
merged_df = pd.concat([data, data_], axis=0)

In [13]:
merged_df.head()

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0,2,BHK,1300.236407,1,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0,2,BHK,1275.000000,1,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0,2,BHK,933.159722,1,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1,2,BHK,929.921143,1,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0,2,BHK,999.009247,0,1,"New Town,Kolkata",22.592200,88.484911,60.5